.new-btn {
    height: 50px;
    width: 50px;
    background-color: #acd5ff;
    border-radius: 5px;
    box-shadow: inset -4px -4px 6px #377088;
    /* background-color: white; */
    display: inline-block;
    text-align: center;
    border: none;
    margin-right: 5px;
}

#data {
    margin-top: 30px;
    margin-bottom: 50px;
}